<style>
    {#asset assets/styles.css}
</style>

<div class="tarjeta-presentacion-front">
</div>
<br>
<div class="tarjeta-presentacion-back" >
    <div style="display:flex; flex-direction:column-reverse; margin:20px">
        <div>
            <h1 style="font-size:30px">{{name}}</h1>
            <h1 style="font-size:18px">{{lastName}}</h1>            
            <h1>{{charge}}</h1>            
            <h1>{{email}}</h1>            
            <h1>{{cel}}</h1>            
        </div>
    </div>
</div>
